.nav {
    display: inline-block;
    text-decoration: none;
    color: lightblue;
    border: 1px solid;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2px;
}

.nav :hover {
    color: orange;
}
