.nav {
    display: inline-block;
    text-decoration: none;
    color: lightblue;
    border: 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav:hover {
    color: orange;
}

.menu .nav {
    padding-left: 2em;
    padding-right: 2em;
    margin: 2px;
}

button.run {
    background-color: #00BB00;
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    font-weight: bold;
}

.hidden {
    display: none;
}

.columns td {
    vertical-align: top;
}
